// Place all the styles related to the fighters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


body {
  background-color: #f8f9fa !important;
}

.form-check-box {
  display: none;
}

.notice {
  color: #ff0000;
}

// 新規登録のカテゴリー選択
.form-check-label {
  display: block; // ブロックレベル要素化する
  float: left;
  margin: 5px;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px; // 行の高さを指定する
  padding-left: 5px;
  padding-right: 5px;
  color: #495057;
  border: 2px solid #495057;
  border-radius: 50%; // 角丸を指定する
  box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125);
  cursor: pointer;
}

.form-check-label:hover {
  background-color: #E2EDF9;
}

input[type="checkbox"] + .form-check-label {
  transition: color 0.5s ease;
  transition: background-color 0.5s ease;
}

input[type="checkbox"]:checked + .form-check-label  {
  color: #ffffff;
  background-color: #495057;
}

// プレイヤーデータのカテゴリー表示
.form-select-label {
  display: block;
  float: left;
  margin: 5px;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  padding-left: 5px;
  padding-right: 5px;
  color: #3b2314;
  background-image: radial-gradient(#ddd, #333);
  border: 2px solid #495057;
  border-radius: 50%;
  box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125);
}

li.character {
  list-style: none;
}

.under-line-l {
  text-decoration: none;
  border-bottom: 6px solid gray;
  padding-bottom: 10px;
}

.under-line-m {
  text-decoration: none;
  border-bottom: 4px solid gray;
  padding-bottom: 8px;
}

.first-bottom {
  background-color: #feeff7;
}

.second-bottom {
  background-color: #feeff7;
}

.third-bottom {
  background-color: #feeff7;
}

.rounded-custom {
  border-radius: 1rem;
}

.fighter-detail {
  background-color: #f8f9fa;
}

.breadcrumbs {
  // スマホサイズならパンくずリストをスクロールする
  overflow-x: auto;

  // 改行しないようにする
  word-break: keep-all;
  white-space: nowrap;

  // スクロールの動きを滑らかにする
  -webkit-overflow-scrolling: touch;
}

.vertical-line {
  padding: 0;
  margin: 0;
  line-height: 40px;
  box-sizing: border-box;
  position: relative;
  padding-left: 10px;
  &:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 7px;
    width: 4px;
    height: 30px;
    background-color: #303030;
  }
}

.brake-under-line {
  border-bottom: dashed 2px #303030;
}