// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h4.catch-copy {
  padding: 25px 0 10px;
}

h4.pt-3{
  margin-left: 10px;
}

.top-section {
  background-color: #e3e3e3;
}

.board-section {
  background-color: #f8f9fa; 
}

.bottom-section {
  background-color: #FFFFFF;
}

.sawarabi {
  font-family: 'Sawarabi Gothic';
}

.induction-text {
  margin-bottom: 0;
}

.induction-space {
  margin-bottom: 8px;
}

.copyright {
  margin-left: 0;
}

// ここからボタンの装飾
.btn-pink{
  background-color: #ec008c !important;
  color: #ffffff !important;
}

.btn-pink:hover {
  background-color: #fc6767 !important;
}

.btn-modal-pink{
  background-color: #ec008c !important;
  color: #ffffff !important;
}

.btn-modal-pink:hover {
  background-color: #fff !important;
  border-color: #ec008c !important;
  color: #ec008c !important;
}

.btn-purple {
  background: #7474bf !important;
  color: #ffffff !important;
}

.btn-purple:hover {
  background-color: #348ac7 !important;
}

.btn-dark-moon {
  background: linear-gradient(to right, #243B55, #141E30);
  color: #ffffff !important;
}

